* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.containerForSquares {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 1em;
  transform-origin: left center;
}

.droppingSquares {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  background-color: hsla(212, 68%, 51%);
}

.iconBox {
  width: 300px;
  height: 300px;
  margin: 10px 0;
}

.innerCircle {
  fill: hsl(0, 0%, 74%);
}

.lightning {
  overflow: visible;
  stroke: #fff;
  stroke-width: 25;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.outerDashedCircle {
  stroke-width: 5;
  stroke: hsl(0, 4%, 78%);
  /* dash length then gap length ... */
  stroke-dasharray: 70, 20;
  fill: none;
}

svg {
  width: 300;
  height: 300;
}

/* Utility Classes - Start */
.centerItems {
  place-items: center;
}

.flex{
  display: flex;
}

.flexDirectionColumn{
  flex-direction: column;
}

.flexDirectionRow{
  flex-direction: row;
}

.gap{
  gap: 1em;
}

.gap1p5{
  gap: 1.5em;
}

.gap2{
  gap: 2em
}

.grid{
  display: grid;
}

.gridColumn2{
  grid-template-columns: repeat(2, 1fr);
}

.gridColumn3{
  grid-template-columns: repeat(3, 1fr);
}

.gridRow2{
  grid-template-rows: repeat(2, 1fr);
}

.gridRow3{
  grid-template-rows: repeat(3, 1fr);
}

.gridRow4{
  grid-template-rows: repeat(4, 1fr);
}

.positionRelative{
  position: relative;
}

.positionAbsolute{
  position: absolute;
  
}
/* Utility Classes - End */

:root{
  font-family: 'Rubik', sans-serif;
  font-size: x-large;
}


.blob{
  width: 100%;
  height: 100%;
  background-color: rgba(221, 216, 216, 0.744);
  border-radius: 54% 46% 55% 45% / 66% 74% 26% 34% ;
  top: -20%;
  scale: 1.13;
  z-index: -10;
  margin-left: 1rem;
}

body{
  padding: 0;
  margin: 0;
  background-image: url( '/background.svg' );
  background-repeat: no-repeat;
  background-size: 500vh;
} 

.currentWeatherComponent {
	grid-column: 1/3;
	grid-row: 1;
	width: 100%;
}

.currentWeatherIcon{
  grid-row: 2;
  grid-column: 2;
  margin: 0 auto;
}

.highlight{
  position: absolute;
  background-color: hsl(0, 0%, 62%);
  width: 100%;
  height: 10%;
  z-index: 100;
  left: 20%;
  top: 100%;
}

.leftSideCurrent{
  width: 50%;
  margin: 1em;
  text-align: center;
}

.rightSideCurrent{
  width: 50%;
}

.mainGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	place-items: center;
	height: 100vh;
	grid-gap: 2rem;
	gap: 2rem;
}

.next24HrsComponent {
	width: 80%;
	overflow-x: scroll;
	grid-row: 2;
	grid-column: 1 / span 3;
	box-shadow: inset 0px 0px 33px 0px rgba(0,0,0,0.74);
	border-radius: 10px;
  justify-content: space-around;
}

.next5DaysComponent {
	grid-row: 1;
	width: 100%;
	padding: 10px;
	box-shadow: inset 0px 0px 33px 0px rgba(0,0,0,0.74);
	border-radius: 10px;
	height: 50vh;
	overflow-y: auto;
	grid-column: 3;
}

.next5DaysItems{
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(221, 216, 216, 0.088);
}

.weatherIconComponent{
  width: 100px;
  height: 100px;
}

@media (max-width: 750px){

  .mainGrid {
    padding: 3rem;
    height: auto;
    grid-template-rows: auto auto 1fr;
  }

  .next24HrsComponent {
    grid-row: 2;
    grid-column: 1/4;
  }

  .next5DaysComponent {
    grid-row: 3;
    grid-column: 1 / 4;
    height: fit-content;
    width: 60%;
  }

  .currentWeatherComponent {
    grid-column: 1/4;
  }

  .SearchBar > input{
    width: 50%;
    border-radius: 10px;
  }

  .blob {
    height: 58%;
    margin: 0;
  }

  .leftSideCurrent {
    font-size: medium;
  }
}



